<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175404637340-ou1lo4jn3q2koivi2aj48aucg5i1tcbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175404637340-ou1lo4jn3q2koivi2aj48aucg5i1tcbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBGaHVh7b4cXmTy1LnZnkbTVmJkm-Bn6jo</string>
	<key>GCM_SENDER_ID</key>
	<string>175404637340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coriarty.Penya</string>
	<key>PROJECT_ID</key>
	<string>penya-cc1de</string>
	<key>STORAGE_BUCKET</key>
	<string>penya-cc1de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175404637340:ios:ef3a71abe6c804f3c0e159</string>
</dict>
</plist>